  server {
        listen       80;
        server_name  sonar;
        location / {
        proxy_pass http://192.168.56.10:9000;
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    } 